@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500&family=Nunito:wght@300;400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: medium;
}

html{
  scroll-behavior:smooth;
}
.preload{
  background: rgb(255, 255, 255) url('./media/loader.gif') no-repeat center;
  background-size: 50%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: none;
}
.heading{
  font-family: 'League Spartan', sans-serif;
}
.sub-heading {
  font-weight: 500;
  line-height: '2';
  font-size: 60px;
}
nav{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  padding:  30px 0 0px 150px;
  display: flex;
  background:  linear-gradient(90deg, rgba(172, 27, 41, 0.86) 23.32%, rgba(233, 175, 63, 0.81) 59.86%);
  backdrop-filter: blur(3rem);
}
.add-shadow{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.logo{
  margin-top: -35px;
}

nav ul{
  display: flex;
  list-style: none;
  position: fixed;
  right: 20px;
}
nav ul a{
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  font-size: 19px;
  margin-left: 32px;
  color: #1E1E1E;
  text-decoration: none;
}
nav .ham{
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 20px;
  cursor: pointer;
}
.nav-menu{
  top: 0;
  left: 30%;
  right: 0;
  bottom: 0;
  position:fixed;
  height: 100%;
  display: none;
  background: whitesmoke;
  padding: min(10vh,2rem) 2em;
  z-index: 1000;
  transition: ease-out 2s;
}
.nav-menu ul{
  list-style: none;
  max-width: fit-content;
}
.nav-menu a{
  color: black;
  line-height: 25px;
  font-weight: 700;
  text-decoration: none;
}
.nav-menu img{
  position: fixed;
  right: 10px;
  width: 50px;
  height:50px;
  margin-left: 32px;
  cursor: pointer;
}
.nav-menu a:hover{
  color:#CC2031;
  border-bottom: solid 2px #CC2031;
}

nav ul a:hover{
  color:#CC2031;
  border-bottom: solid 2px #CC2031;
}
/* Hero Image */
.Hero{
  padding-top: 100px;
  background: linear-gradient(90deg, rgba(172, 27, 41, 0.86) 23.32%, rgba(233, 175, 63, 0.81) 59.86%),url('./media/Hero\ Image.jpg') no-repeat;
  background-size:cover;
}
.Hero-image{
  width: 100%;
  padding-top: 100px;
  height: 600px;
}
.hero-text{
  margin-left: 150px;
  margin-top: 100px;
}
.hero-text .Enhancing{
  font-size: 70px;
  font-weight: lighter;
  color:#fff;
}
.hero-text .text{
  margin-top:20px;
  font-size:25px;
  font-weight: 400;
  line-height: 30px;
  color:#fff;
}

button{
  cursor: pointer;
  margin-top:80px;
  color:white;
  background: #CC2031;
  width: 140px;
  height:70px;
  border:none;
  font-size: 18px;
}

/* about section */
.about{
  background: rgb(245, 238, 230);
  padding-top:60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}
.grid{
  background: url('./media/VectorBuld.png') no-repeat;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  column-gap: 50px;
  width: 80vw;
  margin-bottom: 100px;
}

.grid-item {
  /* font-size: 18px; */
}

/* Rectangle 2 and 3*/
.rectangle2{
  margin-left: 12rem;
  height: 500px;
}
.vectorbuld2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vectorbuld2 h1{
  margin-bottom: 40px;
  font-size: 20px;
}
.vectorbuld2 h3{
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  font-weight: 500;
}
.vectorbuld2 p{
  text-align: center;
}
/* picture section */
.pic-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  max-width: 100%;
  color: white;
  text-align: center;
}
.pic-grid h3{
  margin-top: 200px;
  font-size: 20px;
}
.grid-item-1,.grid-item-2,.grid-item-3,.grid-item-4{
  width: 100%;
  cursor: pointer;
  height: 260px;
  background: url('./media/Public\ relations\ image.png') no-repeat;
  background-size: cover;
  
}
.grid-item-1:hover{
  background:  linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('./media/Public\ relations\ image.png') no-repeat;
  background-size: cover;
} 

.grid-item-2{
  background:  linear-gradient(180deg, rgba(0, 0, 0, 0) 34.01%, rgba(0, 0, 0, 0.8) 76.04%),url('./media/Brand\ management\ image.png') no-repeat;
  background-size: cover;
}
.grid-item-2:hover{
  background:  linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('./media/Brand\ management\ image.png') no-repeat;
  background-size: cover;
}
.grid-item-3{
  background:  linear-gradient(180deg, rgba(0, 0, 0, 0) 34.01%, rgba(0, 0, 0, 0.8) 76.04%),url('./media/Digital\ Marketing\ Image.png') no-repeat;
  background-size: cover;
}
.grid-item-3:hover{
  background:  linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('./media/Digital\ Marketing\ Image.png') no-repeat;
  background-size: cover;
}
.grid-item-4{
 background:  linear-gradient(180deg, rgba(0, 0, 0, 0) 34.01%, rgba(0, 0, 0, 0.8) 76.04%),url('./media/Training\ Image.png') no-repeat;
 background-size: cover;
}
.grid-item-4:hover{
 background:  linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('./media/Training\ Image.png') no-repeat;
 background-size: cover;
}
.vectorbuld2{
  background: url('./media/Vectorbuld2.png');
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: right top;

}
.vectorbuld2 .header{
  font-weight: 400;
  font-size: 60px;
  line-height: 55px;
}
/* testimony */
.testimony{
  background: rgb(245, 238, 230);
  padding-top: 40px;
  background: url('./media/vectorQuote1.png') no-repeat left top;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimony-cards{
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* grid-card-1 */
.card-grid-1{
  margin-top: 42px; 
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 70px;
  row-gap: 40px;
  max-width: 100%;
}

/* card */
.grid-card{
  padding: 50px;
  width: 600px;
  height: 150px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  background: linear-gradient(90deg, rgba(204, 32, 49, 0.2) 31.98%, rgba(233, 175, 63, 0.2) 100%);
}
.card-footer{
  margin-top: 30px;
  display: flex;
}
.card-footer p{
  line-height: 16px;
  margin-top: 10px;
  margin-left: 10px;
}


/* percentage */
.grid-percentage{
  margin-top: 66px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 50px;
  margin-bottom: 20px;
  width: 90vw;
}
.grid-percentage img{
  margin:24 -8 -5px 30px;
  width: 32px;
  height:32px;
}
.grid-percentage h1{
  margin-top: -56px;
  margin-left: 50px;
  font-weight: 100;
  font-size: 50px;
}
.grid-percentage p{
  font-weight: 500;
  letter-spacing: 0.02em;
}
/* worked-with */
.worked-with{
  text-align: center;
}
.worked-with h4{
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  text-transform: uppercase;
  color: #1E1E1E;
  margin-top: 14vh;
}
.worked-with .company-image{
  width: 90vw;
  margin-top: 16px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
/* history section */
.history-section{
  padding: 30px 100px 30px 100px;
  display: flex;
  flex-direction: column;
  color:white;
  height: 500px;
  background: #1E1E1E;
}
.grid-history{
  background: url('./media/VectorHourGlass.png') no-repeat right top;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 100%;
}
.grid-history-1 .reflection{
  width: 380px;
  height: 380px;
  background: url('./media/reflectionImage.png');
}
.grid-history-1 img{
  height: 380px;
  width: 380px;
  margin-left: 30px;
  margin-top: 10vh;
}
.grid-history-2{
  margin-top: 20px;
}
.history-section h1{
  text-align: center;
  margin-left: 50px;
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
/* recent article */
.recent-articles{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  height: 550px;
  background: linear-gradient(90deg, #CC2031 31.98%, #E9AF3F 100%);
}
.recent-articles h4{
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  text-transform: uppercase;
}
.recent-articles h2{
  font-weight: lighter;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.grid-article{
  display: grid;
  grid-template-columns: repeat(2, 700px);
  max-width: 100%;
}
.grid-article-1 h3{
  font-weight: 400;
  font-size: 28px;
  line-height: 44px;
  margin-bottom: 5px;
}
.grid-article-1 img{
  margin-top: 20px;
  width:80%;
  height: 60%;
}

/* talk more section */
.talk-more{
  background: rgb(245, 238, 230);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 40px;
  height: 600px;
}
.grid-talk-more{
  background: url('./media/Vectorchat.png') no-repeat top left;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 100%;
}
.grid-talk-1 h1{
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 66px;
  margin-top: 120px;
  color: #1E1E1E;
}
.grid-talk-2{
  margin-left: 50px;
  background: url('./media/VectorChat2.png') no-repeat right;
  background-size: 400px;
}
.grid-talk-2 form{
  padding-top: 26px;
  padding-left: 50px;
  width: 369px;
  height: 580px;
  background: rgba(233, 175, 63, 0.2);
}
.grid-talk-2 form input,.grid-talk-2 form textarea,.add-blog-form input,.add-blog-form textarea{
  padding-left: 10px;
  background: rgba(233, 175, 63, 0.2);
  border: 0.5px solid #000000;
  width: 300px;
  height: 30px;
  font-size: large;
}
.grid-talk-2 form textarea,.add-blog-form textarea{
  padding-top: 5px;
  height: 100px;
}
.grid-talk-2 form button, .add-blog-form button{
  border: none;
  width: 131px;
  height: 50px;
  background: #CC2031;
  color: #FFFAFA;
}

/* blogPages css */
  .blogPage{
    background: rgb(245, 238, 230); 
    height: 100%;
  }
  .header{
    padding-left: 125px;
    margin-top: -50px;
    height: 529px;
    left: -1px;
    top: 105px;
    background:  url('./media/Rectangle\ 56.png');
  }
  .header h1{
    width: 594px;
    height: 137px;
    padding-top: 166px;
    font-weight: 400;
    font-size: 72px;
    line-height: 66px;
    background: linear-gradient(90deg, #CC2031 31.98%, #E9AF3F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
  }
  .header button{
    margin-top: 10px;
    color: #FFFAFA;
    width: 135px;
    height: 50px;
    background: #CC2031;
    border: none;
  }
  .blogs{
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 50px;
  }
  .grid-blogs{
   display:grid;
   grid-template-columns: repeat(3,1fr);
   
  }
  .grid-blogs .card-blogs{
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    width: 300px;
    height: 412px;
    background: #FDF7EC;
    border: 1px solid #E9AF3F;
  }
  .card-blogs h3{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 29.534px;
    line-height: 27px;
  }
  .card-blogs img{
    width: 300px;
    height: 181px;
  }
  .card-blogs button{
    color: #1E1E1E;
    margin-top: 20px;
    width: 100px;
    height: 50px;
    background: #FDF7EC;
    border: 1px solid #E9AF3F;
  }
  .card-blogs button:hover{
    color:white;
    background: #CC2031;
  }
  .card-blogs a{
    padding-top:20px;
    text-decoration: none;
  }
  .card-blogs a:hover{
    color:#CC2031;
  }
  .grid-blogs .extra{
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    width: 300px;
    height: 412px;
  }
  .grid-blogs .extra h3{
    margin-top: 2px;
  }

  /* blog article page css */
.blog-article{
  background: rgb(245, 238, 230); 
  height: 100%;
}
.blog-article-header{
    margin-top: -50px;
    height: 500px;
    background: url('./media/Rectangle\ 43.png');
}
.article-content{
  margin-left: 4%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.article-content h1{
  width:590px;
  height: 132px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 66px;
  background: linear-gradient(90deg, #CC2031 31.98%, #E9AF3F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.article-content p{
  margin-top: 20px;
  width: 100%;
  height: 240px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #1E1E1E;
  margin-bottom: 15%;
}
.article-content h3{
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  color: #1E1E1E;
  width: 360px;
  height: 44px;
}
.more-article{
  width: 90%;
  padding-left: 10%;
  padding-top: 39px;
  height: 546px;
  background: linear-gradient(90deg, rgba(204, 32, 49, 0.2) 31.98%, rgba(233, 175, 63, 0.2) 100%);
}
.more-article h2{
  margin-left: 5%;
  margin-bottom: -50px;
  width: 301px;
  height: 55px;
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 55px;
  color: #1E1E1E;
}
.more-article a{
  text-decoration: none;
  padding-top: 456px;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  color: #0946AC;
}
/*add blog page*/
.add-blog-page{
  background: rgb(245, 238, 230); 
  height: 100%;
}
.add-blog-nav{
  padding-top:20px;
  margin-bottom:20px;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);
}
.form-container{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-blog-form{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding-top: 26px;
  padding-left: 50px;
  width: 369px;
  height: 490px;
  background: rgba(233, 175, 63, 0.2);
}

/* footer */
footer{
  color:#ffffff;
  height: 380px;
  background: linear-gradient(90deg, #CC2031 31.98%, #E9AF3F 100%);
  padding-top: 50px;
}
.content{
  display: flex;
  justify-content: space-around;
}
footer h2{
  font-weight: bolder;
  font-size: 30px;
  line-height: 44px;
}
footer  ul{
  margin-top: 20px;
}
footer ul li{
  margin-top: 10px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #FFFAFA;
  
}
footer ul li img{
  width: 32px;
  height:30px;
}
footer ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
footer .social-icons{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}


/* media queries */
 @media screen and (max-width:1200px){
  
  .about{
    padding-left: 50px;
  }
.grid{
  background: url('./media/VectorBuld.png');
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 100%;
  margin-bottom: -350px;
}
.grid .grid-item{
  width: 100%;
}
/* Rectangle 2 and 3*/
.rectangle2{
  margin-top: 10px;
  margin-bottom: -350px;
}
.vectorbuld2 h1{
  font-size: 20px;
}

/* picture section */
.pic-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  max-width: 100%;
}
.grid-item-1,.grid-item-2,.grid-item-3,.grid-item-4{
  width: 100%;
  height: 260px;
  background: url('./media/Public\ relations\ image.png');
}
.grid-item-2{
  background:  url('./media/Brand\ management\ image.png');
}
.grid-item-3{
  background:  url('./media/Digital\ Marketing\ Image.png');
}
.grid-item-4{
 background:  url('./media/Training\ Image.png');
}
.vectorbuld2{
 margin-top: 450px;
}
/* testimony */
.testimony{
  background: rgb(245, 238, 230);
  padding-top: 40px;
  background: url('./media/vectorQuote1.png');
  background-repeat: no-repeat;
  background-position: left top;
}
.testimony-cards{
  display: flex;
  align-items: center;
}
.grid-card{
  width: 400px;
  height: 200px;
}
/* worked-with */
.worked-with h4{
  font-size: 20px;
}
.worked-with .company-image{
  width: 80vw;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
/* history section */
.history-section{
  padding-top: 50px;
  padding-bottom: 30px;
  color:white;
  height: 450px;
  background: #1E1E1E;
}
.grid-history{
  margin-left: 5%;
  background: url('./media/VectorHourGlass.png') no-repeat right top;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 100%;
}
.grid-history-1 .reflection{
  width: 300px;
  height: 300px;
  background: url('./media/reflectionImage.png');
}
.grid-history-1 img{
  margin-top: -360px;
  height: 300px;
  width: 300px;
  margin-left: 30px;
}


/* recent article */
.recent-articles{
  width: 100%;
  padding-bottom: 20px;
  color:white;
  height: max-content;
  background: linear-gradient(90deg, #CC2031 31.98%, #E9AF3F 100%);
}
.recent-articles h4{
  font-size: 20px;
}
.recent-articles h2{
  font-size: 25px;
}
.grid-article{
  padding-left: 10%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.grid-article-1 h3{
  font-weight: 400;
  font-size: 28px;
  line-height: 44px;
  margin-bottom: 5px;
}
.grid-article-1 img{
  margin-top: 50px;
  width:80%;
  height: 60%;
}
.grid-article-1 p{
  width:450px;
}
/* talk more section */
.talk-more{
  background: rgb(245, 238, 230);
  padding-left: 50px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 40px;
  height: 500px;
}
.grid-talk-more{
  grid-template-columns: repeat(2,1fr);
}
.grid-talk-1 h1{
  font-size: 30px;
}
.grid-talk-2{
  margin-top: 10px;
  margin-left: 10px;
  background: url('./media/VectorChat2.png') no-repeat right;
  background-size: 400px;
}
.grid-talk-2 form{
  padding-top: 26px;
  padding-left: 30px;
  width: 340px;
  height: 490px;
  background: rgba(233, 175, 63, 0.2);
}
.grid-talk-2 form input,.grid-talk-2 form textarea,.add-blog-form input,.add-blog-form textarea{
  padding-left: 10px;
  background: rgba(233, 175, 63, 0.2);
  border: 0.5px solid #000000;
  width: 300px;
  height: 30px;
  font-size: large;
}
.grid-talk-2 form textarea,.add-blog-form textarea{
  padding-top: 5px;
  height: 100px;
}
.grid-talk-2 form button, .add-blog-form button{
  border: none;
  width: 131px;
  height: 50px;
  background: #CC2031;
  color: #FFFAFA;
}
/* footer */

.content{
  display: flex;
  justify-content: space-around;
}
.content p{
  font-size: small;
}
footer h2{
  font-weight: bolder;
  font-size: 20px;
  line-height: 44px;
}
footer  ul{
  margin-top: 20px;
}
footer ul li{
  font-size: small;
}
footer ul li img{
  width: 22px;
  height:20px;
}
footer ul li a{
  text-decoration: none;
  color: white;
}
footer .social-icons{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.social-icons img{
  width: 22px;
  height:20px;
}
.last{
  font-size: 12px;
}
/*add blog page*/
.add-blog-nav{
  padding-bottom: 10px;
}
/* blogPages css */

.header{
  padding-left: 125px;
  height: 529px;
  left: -1px;
  top: 105px;
  background:  url('./media/Rectangle\ 56.png');
}
.header h1{
  width: 594px;
  height: 137px;
  padding-top: 166px;
  font-weight: 400;
  font-size: 72px;
  line-height: 66px;
  background: linear-gradient(90deg, #CC2031 31.98%, #E9AF3F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}
.header button{
  margin-top: 10px;
  color: #FFFAFA;
  width: 135px;
  height: 50px;
  background: #CC2031;
  border: none;
}
.blogs{
  padding-left:5%;
  padding-right:5%;
  padding-bottom: 50px;
}
.grid-blogs{
 display:grid;
 grid-template-columns: repeat(3,1fr);
 
}
.grid-blogs .card-blogs{
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  width: 300px;
  height: 412px;
  background: #FDF7EC;
  border: 1px solid #E9AF3F;
}
.card-blogs h3{
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 29.534px;
  line-height: 27px;
}
.card-blogs img{
  width: 300px;
  height: 181px;
}
.card-blogs button{
  color: #1E1E1E;
  margin-top: 20px;
  width: 100px;
  height: 50px;
  background: #FDF7EC;
  border: 1px solid #E9AF3F;
}
.card-blogs button:hover{
  color:white;
  background: #CC2031;
}
.card-blogs a{
  padding-top:20px;
  text-decoration: none;
}
.card-blogs a:hover{
  color:#CC2031;
}
.grid-blogs .extra{
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  width: 300px;
  height: 412px;
}
.grid-blogs .extra h3{
  margin-top: 2px;
}
.grid-blogs{
  display:grid;
  grid-template-columns: repeat(2,1fr);
 }
 .blogs{
  padding-left:10%;
  padding-bottom: 50px;
}
}


/* screen1000px */
@media screen and (max-width:1000px){
  nav{
    background:  linear-gradient(90deg, rgba(172, 27, 41, 0.86) 23.32%, rgba(233, 175, 63, 0.81) 59.86%);
    width: 100%;
    top:0;
    padding-top: 60px;
    height: 30px;
  }
  
 .logo{
  position: fixed;
  top: 50px;
  left: 45px;
 }
  nav ul a{
    display: none;
  }
  nav .ham{
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 35px;
    right: 150px;
    cursor: pointer;
  }
  .Hero-image{
    padding-top: 70px;
    min-height: 250px;
    padding-bottom: 20px;
  }
  .hero-text{
    margin-left: 50px;
  }
  .hero-text .Enhancing{
    font-size:30px;
    font-weight:'bolder';
  }
  .hero-text .text{
    margin-top:20px;
    font-size:17px;
  }
  button{
      width: 90px;
      height:50px;
      border:none;
      font-size: 15px;
  }
 /* about section */
.about{
  padding-left: 40px;
}

.grid{
  background: url('./media/VectorBuld.png') no-repeat;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: -10px;
}
.grid-item{
  width: 100%;
  margin-bottom: -450px;
}
/* Rectangle 2 and 3*/
.rectangle2{
  display:none;
  margin-top: 40px;
  width: 100%;
}
.vectorbuld2{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vectorbuld2 .heading{
  margin-bottom: -10px;
  font-size: 20px;
  width: 70vw;
}
.vectorbuld2 h3{
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}
.vectorbuld2 p{
  margin: 0 20px 0 -10px;
  line-height: 25px;
  text-align: center;
  width: 70vw;
}
/* picture section */
.pic-grid{
  margin-left: 25%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  max-width: 100%;
}
.grid-item-1,.grid-item-2,.grid-item-3,.grid-item-4{
  margin-top:20px;
  width: 70%;
  height: 300px;
  background: url('./media/Public\ relations\ image.png');
  background-size: cover;
}
.grid-item-2{
  background:  url('./media/Brand\ management\ image.png');
  background-size: cover;
}
.grid-item-3{
  background:  url('./media/Digital\ Marketing\ Image.png');
  background-size: cover;
}
.grid-item-4{
  background:  url('./media/Training\ Image.png');
  background-size: cover;
}
.vectorbuld2{
 margin-top: 450px;
}
/* testimony */
.testimony{
  background: rgb(245, 238, 230);
  background: url('./media/vectorQuote1.png')no-repeat left top;
}
/* grid-card-1 */
.card-grid-1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* card */
.grid-card{
  padding-bottom: 10px;
  margin-top: 20px;
  width: 500px;
  height: 200px;
  background: linear-gradient(90deg, rgba(204, 32, 49, 0.2) 31.98%, rgba(233, 175, 63, 0.2) 100%);
}
/* worked-with */
.worked-with h4{
  font-size: 20px;
}
/* history section */
.history-section{
  padding-top: 50px;
  padding-bottom: 30px;
  color:white;
  height:650px;
  background: #1E1E1E;
}
.grid-history{
  margin-left: -10%;
  background: url('./media/VectorHourGlass.png') no-repeat right top;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  max-width: 100%;
}
.grid-history-1 .reflection{
  width: 300px;
  height: 300px;
  background: url('./media/reflectionImage.png');
}
.grid-history-1 img{
  margin-top: -360px;
  height: 300px;
  width: 300px;
  margin-left: 30px;
}

.history-section h1{
  text-align: left;
  margin-left: -70px;
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
/* recent article */
.recent-articles{
  padding: 0 0 40px 0;
  color:white;
  height: 100%;
  background: linear-gradient(90deg, #CC2031 31.98%, #E9AF3F 100%);
}
.recent-articles h4{
  font-size: 20px;
}
.recent-articles h2{
  font-size: 25px;
}
.grid-article{
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.grid-article-1 h3{
  font-weight: 400;
  font-size: 28px;
  line-height: 44px;
  margin-bottom: 5px;
}
.grid-article-1 img{
  margin-top: 50px;
  width:100%;
  height: 60%;
}
/* talk more section */
.talk-more{
  background: rgb(245, 238, 230);
  padding-left: 50px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 40px;
  height: 700px;
}
.grid-talk-more{
  grid-template-columns: repeat(1,1fr);
}
.grid-talk-1 h1{
  font-size: 30px;
}
.grid-talk-2{
  margin-top: 10px;
  margin-left: 10px;
  background: url('./media/VectorChat2.png') no-repeat right;
  background-size: 400px;
}
.grid-talk-2 form{
  padding-top: 26px;
  padding-left: 30px;
  width: 340px;
  height: 490px;
  background: rgba(233, 175, 63, 0.2);
}
.grid-talk-2 form input,.grid-talk-2 form textarea,.add-blog-form input,.add-blog-form textarea{
  padding-left: 10px;
  background: rgba(233, 175, 63, 0.2);
  border: 0.5px solid #000000;
  width: 300px;
  height: 30px;
  font-size: large;
}
.grid-talk-2 form textarea,.add-blog-form textarea{
  padding-top: 5px;
  height: 100px;
}
.grid-talk-2 form button, .add-blog-form button{
  border: none;
  width: 131px;
  height: 50px;
  background: #CC2031;
  color: #FFFAFA;
}
/* footer */

.content{
  display: flex;
  justify-content: space-around;
}
.content p{
  font-size: small;
}
footer h2{
  font-weight: bolder;
  font-size: 20px;
  line-height: 44px;
}
footer  ul{
  margin-top: 20px;
}
footer ul li{
  font-size: small;
}
footer ul li img{
  width: 22px;
  height:20px;
}
footer ul li a{
  text-decoration: none;
  color: white;
}
footer .social-icons{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.social-icons img{
  width: 22px;
  height:20px;
}
.last{
  font-size: 12px;
}
/*add blog page*/
.add-blog-nav{
  padding-bottom: 10px;
}
/* blogPages css */

.header{
  padding-left: 10%;
  height: 529px;
  left: -1px;
  top: 105px;
  background:  url('./media/Rectangle\ 56.png');
}
.header h1{
  width: 300px;
  height: 137px;
  padding-top: 166px;
  font-weight: 400;
  font-size: 50px;
  line-height: 66px;
  background: linear-gradient(90deg, #CC2031 31.98%, #E9AF3F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header button{
  margin-top: 10px;
  color: #FFFAFA;
  width: 100px;
  height: 50px;
  background: #CC2031;
  border: none;
}
.blogs{
  padding-left:15%;
  padding-bottom: 50px;
}
.grid-blogs{
 display:grid;
 grid-template-columns: repeat(1,1fr);
 
}
.grid-blogs .card-blogs{
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  width: 300px;
  height: 412px;
  background: #FDF7EC;
  border: 1px solid #E9AF3F;
}
.card-blogs h3{
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 29.534px;
  line-height: 27px;
}
.card-blogs img{
  width: 300px;
  height: 181px;
}
.card-blogs button{
  color: #1E1E1E;
  margin-top: 20px;
  width: 100px;
  height: 50px;
  background: #FDF7EC;
  border: 1px solid #E9AF3F;
}
.card-blogs button:hover{
  color:white;
  background: #CC2031;
}
.card-blogs a{
  padding-top:20px;
  text-decoration: none;
}
.card-blogs a:hover{
  color:#CC2031;
}
.grid-blogs .extra{
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  width: 300px;
  height: 412px;
}
.grid-blogs .extra h3{
  margin-top: 2px;
}

/* article page css */
.more-article a{
  padding-top: 4%;
  font-size: 15px;
  line-height: 10px;
}
}


@media screen and (max-width:700px){
  .about{
    padding-left: 15px;
  }
  .about .grid-item{
    margin-bottom: -300px;
  }
  .grid-card{
    width: 70vw;
    height: 200px;
  }
 .grid-percentage{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
 }
 .worked-with .company-image{
  width: 90vw;
 }
 .history-section{
  height: max-content;
 }
 .recent-articles{
  display: flex;
  padding-left: 0;
 }
}
@media screen and (max-width:560px){
.nav-menu{
  padding: min(10vh,2rem) 2em;
  z-index: 1;
  transition: ease-out 2s;
}


 .nav-menu img{
  position: relative;
  margin-left: 85%;
  width: 50px; 
  height: 50px;
} 
  .Hero-image{
    padding-top: 50px;
    min-height: 250px;
    padding-bottom: 20px;
  }
  .hero-text{
    margin-left: 50px;
  }
  .hero-text .Enhancing{
    font-size:30px;
    font-weight:'bolder';
  }
  .hero-text .text{
    margin-top:20px;
    font-size:17px;
  }
  button{
      width: 90px;
      height:50px;
      border-radius: 5px;
      border:none;
      font-size: 15px;
  }
 /* about section */
.about{
  padding-left: 15px;
  height: fit-content;
}
.about .grid-item{
  margin-bottom: -300px;
}
.rectangle2{
  display:none;
  width:100%;
}
.heading{
  font-size: 20px;
}
.vectorbuld2 .heading{
  display: none;
  margin-top: -80px;
  font-size: 12px;
  line-height: 12px;
}
.vectorbuld2 h3{
  margin-top: -110px;
  font-size: 15px;
}

/* picture section */
.pic-grid{
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  max-width: 100%;
  color:white;
}

.grid-item-1,.grid-item-2,.grid-item-3,.grid-item-4{
  margin-top:20px;
  cursor:pointer;
  width: 90%;
  height: 250px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 34.01%, rgba(0, 0, 0, 0.8) 76.04%),url('./media/Public\ relations\ image.png');
  background-size: cover;
}
.grid-item-1:hover{
  background:  linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('./media/Public\ relations\ image.png');
  background-size: cover;
}
.grid-item-2{
  background:  linear-gradient(180deg, rgba(0, 0, 0, 0) 34.01%, rgba(0, 0, 0, 0.8) 76.04%),url('./media/Brand\ management\ image.png');
  background-size: cover;
}
.grid-item-2:hover{
  background:  linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('./media/Brand\ management\ image.png');
  background-size: cover;
}
.grid-item-3{
  background-size: cover;
  background:  linear-gradient(180deg, rgba(0, 0, 0, 0) 34.01%, rgba(0, 0, 0, 0.8) 76.04%),url('./media/Digital\ Marketing\ Image.png');
}
.grid-item-3:hover{
  background-size: cover;
  background:  linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('./media/Digital\ Marketing\ Image.png');
}
.grid-item-4{
  background-size: cover;
  background:  linear-gradient(180deg, rgba(0, 0, 0, 0) 34.01%, rgba(0, 0, 0, 0.8) 76.04%),url('./media/Training\ Image.png');
}
.grid-item-4:hover{
  background-size: cover;
 background:  linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('./media/Training\ Image.png');
}
.vectorbuld2{
  margin-top: 450px;
}
/* testimony */
/* card */
.grid-card{
 height: max-content;
 width: 70vw;
 padding-bottom: 20px;
}

/* percentage */
.grid-percentage{
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 20px;
  row-gap: 50px;
}

/* worked-with */
.worked-with{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.worked-with h4{
  margin-top: 70px;
  font-size: 24px;
}
.company-image{
 justify-content: space-around;
}
.company-image img{
  width: 40px;
  padding-right: 5px;
  height: 40px;
}
/* history section */
.history-section{
  text-align: center;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color:white;
  height: 800px;
  background: #1E1E1E;
}
.grid-history{
  margin-left: -80px;
  background: url('./media/VectorHourGlass.png') no-repeat right top;
  
}
.grid-history-1 .reflection{
  width: 250px;
  height: 250px;
  background: url('./media/reflectionImage.png');
}
.grid-history-1 img{
  margin-top: -360px;
  width: 250px;
  height: 250px;
  margin-left: 30px;
}

.history-section h1{
  text-align: left;
  margin-left: -70px;
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
/* recent article */
.recent-articles{
  width: 100%;
  padding: 0 0 40px 0;
  color:white;
  height: max-content;
  background: linear-gradient(90deg, #CC2031 31.98%, #E9AF3F 100%);
}
.recent-articles h4{
  font-size: 17px;
}
.recent-articles h2{
  font-size: 18px;
}
.grid-article{
  width: 80vw;
}
.grid-article-1 h3{
  font-size: 20px;
}
.grid-article-1 img{
  margin-top: 50px;
  width:80vw;
  height: 250px;
}
.grid-article-1 p{
  width: 100%;
}
/* talk more section */
.talk-more{
  background: rgb(245, 238, 230);
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 40px;
  height: 600px;
}
.grid-talk-more{
  margin-left: -50px;
  grid-template-columns: repeat(1,1fr);
}
.grid-talk-1 h1{
  margin-left: 20px;
  font-size: 16px;
}
.grid-talk-2{
  margin-top: 10px;
  margin-left: 10px;
  background: url('./media/VectorChat2.png') no-repeat right;
  background-size: 400px;
}
.grid-talk-2 form{
  padding-top: 26px;
  padding-left: 30px;
  width: 100%;
  height: 490px;
  background: rgba(233, 175, 63, 0.2);
}
.grid-talk-2 form input,.grid-talk-2 form textarea,.add-blog-form input,.add-blog-form textarea{
  padding-left: 10px;
  background: rgba(233, 175, 63, 0.2);
  border: 0.5px solid #000000;
  width: 250px;
  height: 30px;
  font-size: large;
}
.grid-talk-2 form textarea,.add-blog-form textarea{
  padding-top: 5px;
  height: 100px;
}
.grid-talk-2 form button, .add-blog-form button{
  border: none;
  width: 131px;
  height: 50px;
  background: #CC2031;
  color: #FFFAFA;
}
/* footer */
footer{
  padding: 20px 10px 0 20px;
}
.content{
  display: flex;
  justify-content: space-around;
}
.content p{
  font-size: small;
}
footer h2{
  font-weight: bolder;
  font-size: 20px;
  line-height: 44px;
}
footer  ul{
  margin-top: 20px;
}
footer ul li{
  font-size: small;
}
footer ul li img{
  width: 22px;
  height:20px;
}
footer ul li a{
  text-decoration: none;
  color: white;
}
footer .social-icons{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.social-icons img{
  width: 22px;
  height:20px;
}
.last{
  font-size: 12px;
}
/*add blog page*/
.add-blog-nav{
  padding-bottom: 10px;
}
/* blogPages css */

.header{
  padding-left: 10%;
  height: 529px;
  left: -1px;
  top: 105px;
  background:  url('./media/Rectangle\ 56.png');
}
.header h1{
  width: 300px;
  height: 137px;
  padding-top: 166px;
  font-weight: 400;
  font-size: 50px;
  line-height: 66px;
  background: linear-gradient(90deg, #CC2031 31.98%, #E9AF3F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header button{
  margin-top: 10px;
  color: #FFFAFA;
  width: 100px;
  height: 50px;
  background: #CC2031;
  border: none;
}
.blogs{
  padding-left:15%;
  padding-bottom: 50px;
}
.grid-blogs{
 display:grid;
 grid-template-columns: repeat(1,1fr);
 
}
.grid-blogs .card-blogs{
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  width: 300px;
  height: 412px;
  background: #FDF7EC;
  border: 1px solid #E9AF3F;
}
.card-blogs h3{
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 29.534px;
  line-height: 27px;
}
.card-blogs img{
  width: 300px;
  height: 181px;
}
.card-blogs button{
  color: #1E1E1E;
  margin-top: 20px;
  width: 100px;
  height: 50px;
  background: #FDF7EC;
  border: 1px solid #E9AF3F;
}
.card-blogs button:hover{
  color:white;
  background: #CC2031;
}
.card-blogs a{
  padding-top:20px;
  text-decoration: none;
}
.card-blogs a:hover{
  color:#CC2031;
}
.grid-blogs .extra{
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  width: 300px;
  height: 412px;
}
.grid-blogs .extra h3{
  margin-top: 2px;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-blog-form{
  height: 400px;
  padding-left: 10px;
  width: 280px;
  border-radius: 5px;
}
.add-blog-form input,.add-blog-form textarea{
  border-radius: 5px;
}
.add-blog-form button{
  font-size: small;
  width: 80px;
  margin-bottom: 20px;
}
/* blogPages css */
.header{
  padding-left: 10px;
  height: 450px;
  width: 100%;
  left: -1px;
  top: 105px;
  background:  url('./media/Rectangle\ 56.png');
}
.header h1{
  width: 250px;
  height: 137px;
  padding-top: 166px;
  font-weight: 400;
  font-size: 40px;
}
.header button{
  margin-top: 10px;
  color: #FFFAFA;
  width: 100px;
  height: 50px;
  font-size: small;
  background: #CC2031;
  border: none;
}
.blogs{
  padding-left:5%;
}
.grid-blogs .card-blogs{
  width: 250px;
  height: 412px;
}
.card-blogs img{
  width: 260px;
  height: 181px;
}
/* article page css */
/* blog article page css */

.blog-article-header{
    margin-top: -50px;
    height: 300px;
    background: url('./media/Rectangle\ 43.png');
}
.article-content{
  margin-left: 4%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.article-content h1{
  width:100%;
  height: 132px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.article-content p{
  margin-top: -30px;
  width: fit-content;
  padding-right: 10px;
  height: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #1E1E1E;
  margin-bottom: 15%;
}
.more-article{
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  height: 546px;
  background: linear-gradient(90deg, rgba(204, 32, 49, 0.2) 31.98%, rgba(233, 175, 63, 0.2) 100%);
}
.more-article .card-blogs{
  width: 70%;
  padding-left: 10%;
}

.more-article h2{
  margin-left: 5%;
  margin-bottom: -50px;
  width: 100%;
  height: 55px;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  color: #1E1E1E;
}
.more-article a{
  padding-top: 4%;
  font-size: 15px;
  line-height: 10px;
}
}

@media screen and (max-width:430px) {
  
.talk-more{
  margin-bottom: 10px;
}
.grid-talk-2 form{
  padding: 26px 0 0 10px;
  width: 100%;
  height: 490px;
  background: rgba(233, 175, 63, 0.2);
}
.content{
  padding-left: 10px;
}
footer .content ul li a, footer .content ul li p, footer .content ul li h3{
  font-size: 14px;
}
footer .content ul li img{
  width: 20px;
}
}

@media screen and (max-width:350px) {
  .recent-articles .grid-article{
    margin-left: -10px;
  }
  .more-article .card-blogs{
    width: 50%;
    padding-left: 15px;
    padding-right: 17%;
  }
  .more-article .card-blogs img{
    width: 200px;
  }
  
  footer .content ul li a, footer .content ul li p, footer .content ul li h3{
    font-size: 12px;
  }
  footer .content ul li img{
    width: 20px;
  }
}
@media screen and (max-width:300px) {
  
  .more-article .card-blogs{
    width: 50%;
    height: max-content;
    padding-left: 15px;
    padding-right: 17%;
    padding-bottom: 20px;
  }
  .more-article .card-blogs img{
    width: 150px;
  }
  .company-image{
    width: 250px;
  }
  .content{
    padding-left: 10px;
  }
  footer .content ul li a, footer .content ul li p, footer .content ul li h3{
    font-size: 10px;
  }
  footer .content ul li img{
    width: 20px;
  }
}
@media screen and (max-width:280px) {
  .company-image{
    width: 200px;
  }

}

@supports(backdrop-filter: blur(2rem)){
  .nav-menu{
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(2rem);
  }
}