@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
/* .header{
  font-family: 'League Spartan';
} */
nav{
  margin-left: 128px;
  display: flex;
  justify-content: space-between;
  /* box-shadow:0 2px 4px 0 rgba(0,0,0,0.2); */
}
nav .brand a{
  text-decoration: none;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #1E1E1E;
}
nav .brand a:hover{
  color:#CC2031;
}
nav ul{
  display: flex;
  list-style: none;
  margin-right: 100px;
  float: right;
}
nav ul a{
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  margin-left: 32px;
  color: #1E1E1E;
  text-decoration: none;
}

nav ul a:hover{
  color:#CC2031;
  border-bottom: solid 2px #CC2031;
}
/* Hero Image */
.Hero{
  padding-top: 50px;
  background:  url('./media/Hero\ Image.png');
}
.Hero-image{
  width: 100%;
  padding-top: 150px;
  min-height: 300px;
}

button{
  cursor: pointer;
}

/* about section */
.about{
  background: rgb(245, 238, 230);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.grid{
  background: url('./media/VectorBuld.png');
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 100%;
}
.grid-item2{
  margin-left: 100px;
}
/* Rectangle 2 and 3*/
.rectangle2{
  position: absolute;
  width: 430px;
  height: 450px;
  background: url('./media/Rectangle\ 3.png');
}
.rectangle3{
  position: absolute;
  margin-top: 20px;
  margin-left: -50px;
  width: 430px;
  height: 450px;
}

/* picture section */
.pic-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  max-width: 100%;
}
.grid-item-1{
  width: 360px;
  height: 300px;
  background: url('./media/Public\ relations\ image.png');
}
.grid-item-2{
  width: 360px;
  height: 300px;
  background:  url('./media/Brand\ management\ image.png');
}
.grid-item-3{
  width: 360px;
  height: 300px;
  background:  url('./media/Digital\ Marketing\ Image.png');
}
.grid-item-4{
  width: 268px;
  height: 300px;
  background:  url('./media/Training\ Image.png');
}
.vectorbuld2{
  background: url('./media/Vectorbuld2.png');
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: right top;

}
/* testimony */
.testimony{
  background: rgb(245, 238, 230);
  padding-top: 40px;
  background: url('./media/vectorQuote1.png');
  background-repeat: no-repeat;
  background-position: left top;
}
/* grid-card-1 */
.card-grid-1{
  margin-top: 42px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 100%;
}
/* grid-card-2 */
.card-grid-2{
  margin-top: 42px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 100%;
  background: url('./media/vectorQuote2.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}
/* card */
.grid-card{
  padding-top: 30px;
  padding-left: 30px;
  margin-left: 20px;
  width: 500px;
  height: 200px;
  background: linear-gradient(90deg, rgba(204, 32, 49, 0.2) 31.98%, rgba(233, 175, 63, 0.2) 100%);
}
.card-footer{
  margin-top: 20px;
  display: flex;
}
.card-footer p{
  line-height: 16px;
  margin-top: 10px;
  margin-left: 10px;
}


/* percentage */
.grid-percentage{
  margin-top: 66px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  max-width: 100%;
  margin-bottom: 20px;
}
.grid-percentage img{
  margin-left: 45px;
  width: 20px;
  height:15px;
}
.grid-percentage h2{
  margin-top: -30px;
  margin-left: 70px;
  font-weight: 200;
}
.grid-percentage p{
  letter-spacing: 0.02em;
}
/* worked-with */
.worked-with{
  text-align: center;
}
.worked-with h4{
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  text-transform: uppercase;
  color: #1E1E1E;
}
.worked-with .company-image{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
/* history section */
.history-section{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 30px;
  color:white;
  height: 400px;
  background: #1E1E1E;
}
.grid-history{
  background: url('./media/VectorHourGlass.png') no-repeat right top;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 100%;
}
.grid-history-1 .reflection{
  width: 380px;
  height: 380px;
  background: url('./media/reflectionImage.png');
}
.grid-history-1 img{
  margin-top: -360px;
  height: 380px;
  width: 380px;
  margin-left: 30px;
}
.grid-history-2{
  margin-top: 20px;
}
.grid-history-2 h4{
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
/* recent article */
.recent-articles{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 40px;
  color:white;
  height: 550px;
  background: linear-gradient(90deg, #CC2031 31.98%, #E9AF3F 100%);
}
.recent-articles h4{
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  text-transform: uppercase;
}
.recent-articles h2{
  font-weight: lighter;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 20px;
}
.grid-article{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 100%;
}
.grid-article-1 h3{
  font-weight: 400;
  font-size: 28px;
  line-height: 44px;
  margin-bottom: 5px;
}

/* talk more section */
.talk-more{
  background: rgb(245, 238, 230);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 40px;
  height: 500px;
}
.grid-talk-more{
  background: url('./media/Vectorchat.png') no-repeat top left;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 100%;
}
.grid-talk-1 h1{
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 66px;

  color: #1E1E1E;
}
.grid-talk-2{
  margin-left: 50px;
  background: url('./media/VectorChat2.png') no-repeat right;
  background-size: 400px;
}
.grid-talk-2 form{
  padding-top: 26px;
  padding-left: 50px;
  width: 369px;
  height: 490px;
  background: rgba(233, 175, 63, 0.2);
}
.grid-talk-2 form input{
  background: rgba(233, 175, 63, 0.2);
  border: 0.5px solid #000000;
  width: 300px;
  height: 30px;
}
.grid-talk-2 form textarea{
  background: rgba(233, 175, 63, 0.2);
  border: 0.5px solid #000000;
  width: 300px;
  height: 100px;
}
.grid-talk-2 form button{
  border: none;
  width: 131px;
  height: 50px;
  background: #CC2031;
  color: #FFFAFA;
}
/* blogPages css */
.blogPage{
  background: rgb(245, 238, 230); 
  height: 100vh;
}
.header{
  height: 529px;
  left: -1px;
  top: 105px;
  background:  url('./media/blogPageImages/Rectangle\ 56.png');
}
.header h1{

}
/* footer */
footer{
  color:#ffffff;
  height: 380px;
  background: linear-gradient(90deg, #CC2031 31.98%, #E9AF3F 100%);
  padding-top: 50px;
}
.content{
  display: flex;
  justify-content: space-around;
}
footer h2{
  font-weight: bolder;
  font-size: 30px;
  line-height: 44px;
}
footer  ul{
  margin-top: 20px;
}
footer ul li{
  margin-top: 10px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #FFFAFA;
}
footer ul li img{
  width: 32px;
  height:30px;
}
footer ul li a{
  text-decoration: none;
  color: white;
}
footer .social-icons{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}